<ion-header>
    <ion-navbar>
        <ion-title>
            Gestures
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <h1 text-center>Enter the right code</h1>
    <p text-center>
        <span *ngIf="!checkChallenge()">{{ challenge }}</span>
        <span *ngIf="checkChallenge()">{{ youWon }}</span>
    </p>

    <ion-list>
        <ion-item>
          Tapped: {{ tapped }}
        </ion-item>
        <ion-item>
          Pressed: {{ pressed }}
        </ion-item>
    </ion-list>

    <reset-buttons
        (onResetAll)="resetAll()"
        (onResetTaps)="resetTaps()"
        (onResetPresses)="resetPresses()">
    </reset-buttons>

    <ion-grid>
        <ion-row text-center>
            <ion-col class="ion-col" (tap)="tapEvent()">Tap here</ion-col>
            <ion-col class="ion-col" (press)="pressEvent()">Press here</ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
